<div class="container">
  <h1 class="text-center pt-2">Dropdown test</h1>
  <form [formGroup]="DropdownForm" (ngSubmit)="onSubmit()">

    <div class="pl-5 col col-md-6 offset-4 tt" (change)="onDropdownSelected($event.target.value)">
      <div class="mb-2 row" >

        <select
          class="form-control"
          aria-label="Default select example"
          formControlName="dropdown1"
        >
          <option value="" disabled selected>Dropdown.1...</option>
          <option *ngFor="let item of DropdownDatas; let i = index" value="{{ item }}">{{ item }}</option>
        </select>
      </div>
      <div class="mb-2 row" >
        <select
          class="form-control"
          aria-label="Default select example"
          formControlName="dropdown2"
        >
          <option value="" disabled selected>Dropdown.2...</option>
          <option *ngFor="let item of DropdownDatas1; let i = index" value="{{ item }}">{{ item }}</option>
        </select>
      </div>
      <div class="mb-2 row">
        <select
          class="form-control"
          aria-label="Default select example"
          formControlName="dropdown3"
        >
          <option value="" disabled selected>Dropdown.3...</option>
          <option *ngFor="let item of DropdownDatas2; let i = index" value="{{ item }}">{{ item }}</option>
        </select>
      </div>
      <div class="row">

      <button [disabled]="DropdownForm.invalid" type="submit" class="btn btn-success btn-block">Submit</button>
      </div>
    </div>
  </form>

</div>
